
<div id="container" class="containerRechts">
    <div class="head">Eine Überschrift: {{test}}</div>
    <div class="map"><app-map></app-map></div>
    <div class="cros">

        <svg width="100%" height="100%" viewBox="0 0 107 107" version="1.1">
            <g transform="matrix(1.42707,1.42707,-1.41805,1.41805,-22.9853,-98.9815)" (click)="handleSud()">
                <path id="segment-sued" class="crosC" d="M80.09,53.064C94.559,53.064 106.289,41.27 106.289,26.722L80.09,26.722L80.09,53.064Z"/>
            </g>
            <g transform="matrix(-1.42707,1.42707,-1.41805,-1.41805,205.604,-23.1942)" (click)="handleWest()">
                <path  id="segment-west" class="crosC" d="M80.09,53.064C94.559,53.064 106.289,41.27 106.289,26.722L80.09,26.722L80.09,53.064Z"/>
            </g>
            <g transform="matrix(-1.42707,-1.42707,1.41805,-1.41805,129.816,205.395)" (click)="handleNord()">
                <path id="segment-nord" class="crosC" d="M80.09,53.064C94.559,53.064 106.289,41.27 106.289,26.722L80.09,26.722L80.09,53.064Z"/>
            </g>
            <g transform="matrix(1.42707,-1.42707,1.41805,1.41805,-98.7725,129.607)" (click)="handleOst()">
                <path id="segment-ost" class="crosC" d="M80.09,53.064C94.559,53.064 106.289,41.27 106.289,26.722L80.09,26.722L80.09,53.064Z"/>
            </g>
        </svg>
              

    </div>
    <div class="menu">

        <app-menu></app-menu>

        <!-- <button (click)="setMenu('containerLinks')">Menu Links</button><br>
        <button (click)="setMenu('containerRechts')">Menu Rechts</button><br> -->

    </div>
    <div class="action">

        <div *ngFor="let action of test2" class="test">
            <div class="actionHeader"><strong>{{action}}</strong></div>
            <img class="actionImg" src="../../assets/rat.svg" width="30%" height="30%">
            <div class="actionText">Hier kommt eine Beschreibung hin, die soll vollständig zu sehen sein</div>

            <button (click)="handleAction(action, '-1')">Interaktion 1</button><br>
            <button (click)="handleAction(action, '-2')">Interaktion 2</button><br>
        </div>

    </div>
</div>