.containerLinks {
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    grid-template-rows: 0.25fr 1.75fr 1fr 1fr 1fr 1fr;
    gap: 0.5% 1%;
    grid-auto-flow: row;
    grid-template-areas:
        "head head"
        "map map"
        "map map"
        "cros action"
        "menu action"
        "menu action";
    height: 98vh;
}

.containerRechts {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: 0.25fr 1.75fr 1fr 1fr 1fr 1fr;
    gap: 0.5% 1%;
    grid-auto-flow: row;
    grid-template-areas:
        "head head"
        "map map"
        "map map"
        "action cros"
        "action menu"
        "action menu";
    height: 98vh;
}

.head {
    grid-area: head;
    text-align: center;
    font-size: large;
    font-weight: 800;
    padding-top: 1%;
}

.map {
    grid-area: map;
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: 900;
}

.cros {
    grid-area: cros;
    height: 100%;
    width: 100%;
}

.menu {
    grid-area: menu;
    overflow-y: scroll;
    overflow-x: hidden;
}

.menu button {
    width: 92%;
}

.action {
    grid-area: action;
    overflow-y: scroll;
    overflow-x: hidden;
}