

<div class="container">
    <div class="head">Eine Überschrift</div>
    <div class="map"></div>
    <div class="cros"></div>
    <div class="menu">

        <button (click)="setTheme('light-theme')">Light Theme</button><br>
        <button (click)="setTheme('dark-theme')">Dark Theme</button><br>

    </div>
    <div class="action">

        <button>Test 1</button><br>
        <button>Test 2</button><br>
        <button>Test 3</button><br>
        <button>Test 4</button><br>
        <button>Test 5</button><br>
        <button>Test 6</button><br>
        <button>Test 7</button><br>
        <button>Test 8</button><br>
        <button>Test 9</button><br>
        <button>Test 0</button><br>

    </div>
</div>