<button id="chara" class="highlight" (click)="setActiveMenu('chara')">
    Meine Figur
</button>

<button id="skill" class="highlight" (click)="setActiveMenu('skill')">
    Fertigkeiten
</button>

<button id="craft" class="highlight" (click)="setActiveMenu('craft')">
    Herstellung
</button>

<button id="map" class="highlight" (click)="setActiveMenu('world')">
    Welt 
</button>

<button id="quest" class="highlight" (click)="setActiveMenu('quest')">
    Aufgaben
</button>

<button id="package" class="highlight" (click)="setActiveMenu('bag')">
    Tasche
</button>

<button id="book" class="highlight" (click)="setActiveMenu('book')">
    Buch
</button>

<button id="stats" class="highlight" (click)="setActiveMenu('stats')">
    Zahlen
</button>

<button id="menu" class="highlight" (click)="setActiveMenu('setting')">
    Einstellung
</button>

<button id="screen" class="highlight" (click)="enableFullscreen()">
    Vollbild
</button>